---
title: "andystevenson/lib"
layout: "base.njk"
---


{% set hero %}
  {% h2 'Welcome to the whacky world of testing...' %}

  {% set paragraph %}
    {%- p 'hello world &amp; all my friends' -%}
  {% endset %}

  {% div paragraph %} 
  {% ncomment 'generates <div><p>hello world</p><div>' %}

  {% set alt = 'my nice & lovely image' | escape %}

  {% img href='/', alt=alt %}
  {{ paragraph | section }}
  {{ paragraph | a(href='/')  }}
{% endset %}

{% section hero, class='hero', 'data-theme'='dark' %}
{# call a lodash function to filter the result #}
{{ $s.p("a new paragraph") | a(href='#') | section }}

{{ [{title: 'fred'}, {title: 'joe'}] | find(['title', 'joe']) | inspect }}
{{ 'hello' | toUpper | inspect }}
{{ paragraph | toUpper | safe }}

{# utilities ... not html #}
{# {%- inspect {a: "string", b: ["flat"] } -%} #}

{# {% button 'submit', href="foo" | a %} #}